<% content_for :sign_in do %>
<div class="jumbotron">
  <div class="jumbo_darken container">
    <div class="row">
    <div class="banner col-md-6 text-center">
      <%= image_tag('ball.png', class: "ball animated bounce infinite") %>  
      <%= image_tag('banner.png', class: "pie_banner")  %>
    </div>

    <div class="sign_in col-md-6">
    <!-- <div class="container"> -->
      <h2>Login</h2>

      <%= form_tag '/login' do %>
        <p>Email:<span> <%= text_field_tag :email %></span></p>
        <p>Password:<span> <%= password_field_tag :password %></span></p> 
        <%= submit_tag "Submit", class: "pie_button" %>
      <% end %>
      <br>
      <!-- omniauth link -->
      <a href='/auth/facebook'> <%= image_tag('connect_with_facebook.png') %> </a><br>

      <!-- Button trigger modal -->
      <button type="button" class="btn-link" data-toggle="modal" data-target="#myModal">
        Not yet part of Picky Eater? Sign up here!
      </button>
      <%= render '/sessions/modal' %>
    </div>
    <!-- Sign in ends -->
    </div>
  </div>
</div>


<!-- articles starts -->
<div class="container container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>Lorem Ipsum</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a pellentesque velit. Suspendisse potenti. Nulla facilisi. Etiam in urna laoreet enim vulputate posuere. Mauris elementum augue id augue lobortis, id consequat eros facilisis. Ut auctor efficitur sapien non efficitur. Cras vulputate, ipsum eget faucibus luctus, dolor mauris consequat sem, at cursus orci lacus et est. Integer dapibus dignissim rutrum. Aliquam et dapibus lacus, suscipit iaculis quam. Duis et mauris vestibulum, maximus est consectetur, rutrum ante. Morbi finibus quam ex, id ornare odio pellentesque sit amet. Fusce eros justo, laoreet vitae urna nec, viverra elementum dolor. Aliquam porttitor non lacus nec vestibulum. Mauris mattis pharetra sagittis. Maecenas ornare, est ut auctor commodo, nulla est volutpat sapien, in aliquet ipsum lorem ut turpis.
      </p>
    </div>
    <div class="col-md-4">
      <h1>Lorem Ipsum</h1>
      <p>
        Sed eleifend augue ut quam pulvinar aliquet. Aenean ac libero pulvinar, pretium metus ut, fermentum elit. Vivamus pulvinar tristique dapibus. Quisque pulvinar pulvinar odio, sit amet imperdiet dolor vestibulum non. Donec lacinia augue id quam fermentum fermentum. Proin feugiat erat at lectus aliquet vehicula. Nunc lectus orci, viverra a eleifend sed, congue quis eros. Suspendisse tristique arcu nulla, a ullamcorper nunc gravida sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
    </div>
    <div class="col-md-4">
      <h1>Lorem Ipsum</h1>
      <p>
        Cras semper ullamcorper urna, ac gravida eros sodales vitae. Duis sit amet viverra nibh, vitae auctor diam. Aliquam volutpat ipsum eget dui posuere, in accumsan ligula tristique. Praesent at tellus vel erat fermentum elementum quis in lectus. Vestibulum neque purus, luctus tempus volutpat ac, fringilla et turpis. Suspendisse mollis sem ut interdum mollis. Suspendisse finibus mattis tellus, sit amet dictum mauris pharetra a. Nam ante sem, interdum non orci iaculis, volutpat viverra risus. Nullam pulvinar tellus sit amet mi porttitor sagittis. Ut ultrices leo ac aliquam porttitor. Quisque eu egestas arcu. Donec vitae eros id felis fermentum sagittis a eu nunc.
      </p>

    </div>
  </div>
</div>
<% end %>