<% content_for :sign_in do %>
<div class="jumbotron slide">
  <div class="jumbo_darken container">
    <div class="row">
    <div class="banner col-md-6 text-center">
      <%= image_tag('ball.png', class: "ball animated bounce infinite") %>  
      <%= image_tag('banner.png', class: "pie_banner")  %>
    </div>

    <div class="sign_in col-md-6">
    <!-- <div class="container"> -->
      <h2>Login</h2>

      <%= form_tag '/login' do %>
        <p>Email:<span> <%= text_field_tag :email %></span></p>
        <p>Password:<span> <%= password_field_tag :password %></span></p> 
        <%= submit_tag "Submit", class: "pie_button" %>
      <% end %>
      <br>
      <!-- omniauth link -->
      <a href='/auth/facebook'> <%= image_tag('connect_with_facebook.png') %> </a><br>

      <!-- Button trigger modal -->
      <button type="button" class="btn-link" data-toggle="modal" data-target="#myModal">
        Not yet part of Picky Eater? Sign up here!
      </button>
      <%= render '/sessions/modal' %>
    </div>
    <!-- Sign in ends -->
    </div>
  </div>
</div>


<!-- articles starts -->
<div class="container container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>For Restaurants</h1>
      <p>
        Picky Eater will make it easier to have your mobile and web menu. It is also really easy to add your recipes and add recipes to your dishes. Contact us for more details!
      </p>
    </div>
    <div class="col-md-4">
      <h1>For Diners</h1>
      <p>
        Still gazing at the old paper menu? Picky Eater helps you to filter the menu to what you can eat. If you want to look at the whole menu,
        all you have to do is click a button. See the menu in a whole new way with Picky Eater
      </p>
    </div>
    <div class="col-md-4">
      <h1>Recommend Us!</h1>
      <p>
        Help us sign in restaurants! Contact us at picky.eater@gmail.com
      </p>

    </div>
  </div>
</div>
<% end %>