<% content_for :sign_in do %>
<div class="jumbotron">
  <div class="container">
  <div class="jumbo_darken">

    <div class="sign_in">
    <!-- <div class="container"> -->
      <h2>Login</h2>

      <%= form_tag '/login' do %>
        <p>Email:<span> <%= text_field_tag :email %></span></p>
        <p>Password:<span> <%= password_field_tag :password %></span></p> 
        <%= submit_tag "Submit" %>
      <% end %>

      <!-- omniauth link -->
      <%= link_to 'Sign in omni', omni_auth_path(provider: :facebook) %>

      <!-- Button trigger modal -->
      <button type="button" class="btn-link" data-toggle="modal" data-target="#myModal">
        Not yet part of Picky Eater? Sign up here!
      </button>
      <%= render '/sessions/modal' %>
    </div>
    <!-- Sign in ends -->
  </div>
</div>
</div>
<% end %>