<% content_for :sign_in do %>

<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'lunch_table2.jpg' %>">
  <div class="jumbo_darken">
    <div class="row container">
    <div class="banner col-md-6 text-center">
      <%= image_tag('ball.png', class: "ball animated bounce infinite") %>  
      <%= image_tag('banner.png', class: "pie_banner")  %>
    </div>

    <div class="sign_in col-md-6">
    <!-- <div class="container"> -->
      <h2>Login</h2>

      <%= form_tag '/login' do %>
        <p>Email:<span> <%= text_field_tag :email %></span></p>
        <p>Password:<span> <%= password_field_tag :password %></span></p> 
        <%= submit_tag "Submit", class: "pie_button" %>
      <% end %>
      <br>
      <!-- omniauth link -->
      <a href='/auth/facebook'> <%= image_tag('connect_with_facebook.png') %> </a><br>

      <!-- Button trigger modal -->
      <button type="button" class="btn-link" data-toggle="modal" data-target="#myModal">
        Not yet part of Picky Eater? Sign up here!
      </button>
      <%= render '/sessions/modal' %>
    </div>
    <!-- Sign in ends -->
    </div>
  </div>
</div>

<div class="container container-fluid">
  <%= render 'articles/landing_page' %>
</div>

<% end %>