<h1><%= @user.name %></h1>

<% if user_signed_in? && (current_user == @user)  %>
  <a class="addMenu">New Menu</a><br><br>
    <div class="menuForm" style="display: none;">
      <%= render '/menus/new' %>
    </div>
<% end %>

  <% @menus.each do |menu| %> 
    <h3><%= link_to menu.name, user_menu_path(@user, menu) unless !menu.dishes.present? %></h3>
    
    <% if user_signed_in? && (current_user == @user) %>
      <h3><%= link_to menu.name, user_menu_path(@user, menu) %></h3>
      <%= link_to "Edit", edit_user_menu_path(@user, menu) %>
      |
      <%= link_to "Delete", user_menu_path(@user, menu), method: :delete %><hr>
    <% end %>
  <% end %>

