<h2><%= @menu.name %></h2>

<% if current_user.is_admin %>
  <a class="addDish">Add New Dish</a>
  <div class="dishForm" style="display:none;">
    <%= render "dishes/new" %>
  </div>
<% end %>


<table class="table table-striped">
  <% @menu.dishes.each do |dish| %>
    <% if current_user.allergic_to?(dish) %>
      <tr class="allergy">
    <% else %>
      <tr class="showRecipe">
    <% end %>
    
        <td><%= dish.name %></td>
        <td><%= dish.description%></td>
        <td><%= dish.price %></td>
        <td><%= link_to "EDIT" %></td>
        <td><%= link_to "DELETE" %></td>
      </tr>

   
  <% end %>
</table>
