<h2><%= @menu.name %></h2>

<a class="show_allergy"> Show all dishes </a>

<% if current_user.is_admin %>
  <a class="addDish">Add New Dish</a>
  <div class="dishForm" style="display:none;">
    <%= render "dishes/new" %>
  </div>
<% end %>

<center>
  <% @menu.dishes.each do |dish| %>
    <% if current_user.allergic_to?(dish) || current_user.diet_restriction?(dish) %>
      <div class="well allergy showRecipe" style="display:none;">
    <% else %>
      <div class="well showRecipe">
    <% end %>

      <div class="dish">
        <h4>
          <% if current_user.is_admin %>
            <%= link_to dish.name, menu_dish_path(@menu, dish) %>
          <% else %>
            <%= dish.name %>
          <% end %>
        </h4>
        <p><%= dish.description %></p>
        <p><%= dish.price %></p>

        <% if current_user.id == @menu.user_id %>
          <%= link_to "EDIT", edit_menu_dish_path(@menu, dish) %> |
          <%= link_to "DELETE", menu_dish_path(@menu, dish), method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
</center>
