<h2><%= @menu.name %></h2>

<% if current_user.is_admin %>
  <a class="addDish">Add New Dish</a>
  <div class="dishForm" style="display:none;">
    <%= render "dishes/new" %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <center>
      <% @menu.dishes.each do |dish| %>
        <% if current_user.allergic_to?(dish) %>
          <div class="well allergy">
        <% else %>
          <div class="well">
        <% end %>

            <h4><a class="showRecipe" id="<%= dish.id %>"><%= dish.name %></a></h4>
            <p><%= dish.description %></p>
            <p><%= dish.price %></p>

            <% if current_user.id == @menu.user_id %>
            <%= link_to "EDIT" %> |
            <%= link_to "DELETE" %>
            <% end %>
        </div>
      <% end %>
    </center>
  </div>
  <div class="col-md-6 recipe" style="display:none;">
    <%#= render '' %>
  </div>
</div>
