<h2><%= @menu.name %></h2>

<% if current_user.is_admin %>
  <a class="addDish">Add New Dish</a>
  <div class="dishForm" style="display:none;">
    <%= render "dishes/new" %>
  </div>
<% end %>

<center>
  <% @menu.dishes.each do |dish| %>
    <% if current_user.allergic_to?(dish) %>
      <div class="well allergy showRecipe">
    <% else %>
      <div class="well showRecipe">
    <% end %>

      <div class="dish">
        <h4><%= dish.name %></h4>
        <p><%= dish.description %></p>
        <p><%= dish.price %></p>

        <% if current_user.id == @menu.user_id %>
          <%= link_to "EDIT" %> |
          <%= link_to "DELETE" %>
        <% end %>
      </div>
          <% if dish.recipes.length >= 1 %>
            <div class="recipe" style="display: none;">
              <h4>Recipes:</h4>
              <% dish.recipes.each do |recipe| %>
                <%= recipe.name %>
              <% end %>
            </div>
          <% end %>

    </div>
  <% end %>
</center>