<h2><%= @menu.name %></h2>

<% if user_signed_in? && (current_user == @user) %>
  <a class="addDish">Add New Dish</a>
  <div class="dishForm" style="display:none;">
    <%= render "dishes/new" %>
  </div>
<% else %>
  <a class="show_allergy"> Show all dishes </a>
<% end %>

<center>
  <% @menu.dishes.each do |dish| %>
    
      <% if user_signed_in? %>
        <% if !current_user.is_admin && (current_user.allergic_to?(dish) || current_user.diet_restriction?(dish)) %>
          <div class="well allergy" style="display:none;">
            <%= render 'dishes/index', dish: dish %>
          </div>
        <% else %>
          <div class="well dish">
            <%= render 'dishes/index', dish: dish %>
          </div>
        <% end %>
      <% else %>
        <div class="well dish">
          <%= render 'dishes/index', dish: dish %>
        </div>
      <% end %>

  <% end %>

  
</center>
