<h4 class="panel-title">
  <div class="col-md-8"><h3><%= r.name %></h3></div>
</h4>      

<div class="col-md-4">
  <a class="btn btn-default" data-toggle="modal" data-target="#<%= "#{dom_id(r)}-#{seed}" %>">
    Edit Recipe
  </a>
  <div class="modal fade" id="<%= "#{dom_id(r)}-#{seed}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Recipe</h4>
        </div>
        <div class="modal-body">
          <%= render 'recipes/edit', recipe: r%>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Delete", recipe_path(r), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default", remote: true  %>
</div>
