<h1>Recipes</h1>

<!-- Renders Recipe form -->
<a class="addRecipe">Add a recipe</a>
<div class="recipeForm" style="display: none;">
  <%= render "form" %>
</div><hr>

<!-- Recipe Accordion begins -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @recipes.each_with_index do |r, index| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%= index+1 %>" aria-expanded="true" aria-controls="collapseOne">
          <div id= "recipeRow" class="row">
            <%= render '/recipes/show', r: r %>
          </div>
        </a>
      </div>

      <div id="collapseOne<%= index+1 %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%= render 'ingredients/index', r: r %>
        </div>
      </div>
    </div>

    
  <% end %>
</div>
