<h1><%= @user.name.split.map(&:capitalize).join(' ') %></h1>
<h3>
  <% if @user == current_user %> 
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  <% end %>
</h3>

<p><%= @user.address %></p>
<p><%= @user.phone_number %></p>
<p><%= @user.email %></p>
<% if @user.is_admin == true %>
  <p><%= @user.name.split.map(&:capitalize).join(' ') %> is open for business!<p>
<% end %>

<% if @user.address.present? %>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'>
    </div>
  </div>

  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @user.latitude %>,
        "lng": <%= @user.longitude %>,
        "picture": {
          "width":  30,
          "height": 30
        },
        "infowindow": "Hope you're hungry!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
  </script>
<% end %>
