<h1>Your Profile | <%= link_to "Edit Profile", edit_user_path(@user) %></h1>

<p><%= @user.name %></p>
<p><%= @user.address %></p>
<p><%= @user.phone_number %></p>
<p><%= @user.email %></p>
<p><%= link_to "Delete Account", user_path(@user), method: :delete %><p>
