<h2>Preferences for: <%= current_user.name %></h2>
<a class="edit_preference">Edit preferences</a>
<div class="preference_form hidden">
  <%= simple_form_for [current_user.recipe, @ingredient] do |i| %>
    <%= i.input :name %>
    <%= i.submit %>
  <% end %>

  <%= simple_form_for @preference do |d| %>
    <%= d.input :diet, as: :radio_buttons, collection: ["Vegan", "Vegetarian", "Pesquitarian", "Muslim", "Dairy-free", "Gluten-free"] %>
    <%= d.submit %>
  <% end %>
</div>

<h3>Diet:</h3>
<%= current_user.preference.diet %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Food that you dont like:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |i| %>
      <% next if i.new_record? %>
      <tr>
        <td><%= i.name %></td>
        <td><%= link_to "Delete", recipe_ingredient_path(current_user.recipe, current_user.recipe.ingredients.find(i)), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>