<h2>My Preferences</h2>

<h3 class="pie_divider" data-toggle="modal" data-target="#diet_modal" >
  Diet
</h3>
<h4><%= current_user.preference.diet %></h4>

<br>

<h3 class="pie_divider" data-toggle="modal" data-target="#ingredient_modal">
  I can eat anything except
</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%  @ingredients.each do |i| %>
      <% next if i.new_record? %>
      <tr>
        <td><%= i.name %></td>
        <td><%= link_to "Delete", inclusion_path(current_user.recipe, current_user.recipe.ingredients.find(i)), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Modals Start -->
<%= render 'preferences/allergy_modal' %>
<%= render 'preferences/diet_modal' %>