<h2>My Preferences</h2>
<button type="button" class="btn-link" data-toggle="modal" data-target="#ingredient_modal">
  Add an ingredient that you dont like
</button>

<button type="button" class="btn-link" data-toggle="modal" data-target="#diet_modal">
  Change your diet
</button>

<h3 class="pie_divider">Diet:</h3>
<h4><%= current_user.preference.diet %></h4>
<br>
<h3 class="pie_divider">I can eat anything except:</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%  @ingredients.each do |i| %>
      <% next if i.new_record? %>
      <tr>
        <td><%= i.name %></td>
        <td><%= link_to "Delete", recipe_ingredient_path(current_user.recipe, current_user.recipe.ingredients.find(i)), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- Modals Start -->
<div class="modal fade" id="ingredient_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add an Ingredient</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [current_user.recipe, @ingredient] do |i| %>
          <%= i.input :name %>
          <%= i.submit "Confirm", class: "pie_button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="diet_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add an Ingredient</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @preference do |d| %>
          <%= d.input :diet, as: :radio_buttons, collection: ["Vegan", "Vegetarian", "Pesquitarian", "Kosher", "Dairy-free", "Gluten-free", "Default"] %>
          <%= d.submit "Confirm", class: "pie_button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
