<h4>
  <% if user_signed_in? && (current_user == @user) %>
    <%= link_to dish.name, menu_dish_path(@menu, dish) %>
  <% else %>
    <%= dish.name %>
  <% end %>
</h4>
<p><%= dish.description %></p>
<p><%= dish.price %></p>

<% if user_signed_in? && (current_user.id == @menu.user_id) %>
  <%= link_to "EDIT", edit_menu_dish_path(@menu, dish) %> |
  <%= link_to "DELETE", menu_dish_path(@menu, dish), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>