<h2>Edit Dish Page</h2>

<%= simple_form_for([@menu, @dish], html: { class: 'form-horizontal' }) do |d| %>
  <%= d.input :name %>
  <%= d.input :description %>
  <%= d.input :price %>
  <%= d.submit %>
<% end %>