<center>
  <h2><%= @dish.name %></h2>
  <p><%= @dish.description %></p>
  <p><%= @dish.price %></p><hr>
</center>
  
<div class="col-md-6">
  <h3>Recipes for <%= @dish.name %></h3><hr>
  <ul id="sortable1" class="connectedSortable" style="min-height:50px;">
    <% @dish.recipes.each do |dr| %>
      <li class="ui-state-default" data-recipe-id="<%= dr.id %>" data-name="<%= dr.name %>"><%= dr.name %></li>
    <% end %>
  </ul>
</div>

<div class="col-md-6">
  <h3>Add from list of recipes</h3><hr>
  <ul id="sortable2" class="connectedSortable" style="min-height:50px;">
      <% @recipes.each do |r| %>
        <%# unless @dish.recipes.include?(@recipe) %>
          <li class="ui-state-highlight" data-recipe-id="<%= r.id %>" data-name="<%= r.name %>"><%= r.name %></li>
        <%# end %>
      <% end %>
  </ul>
</div>

<script>
  $(function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable",
    }).disableSelection();
  });

  $( "#sortable1" ).on( "sortreceive", function( event, ui ) {
      var recipeId = $(ui.item).data('recipe-id'),
              name = $(ui.item).data('name'),
               url = '/dishes/' + <%= @dish.id %> + '/add_recipe/' + recipeId;

      $.post(url, function(data){
        alert("Added Successfully");
      });
  });

  $( "#sortable1" ).on( "sortremove", function( event, ui ) {
      var recipeId = $(ui.item).data('recipe-id'),
              name = $(ui.item).data('name'),
               url = '/dishes/' + <%= @dish.id %> + '/remove_recipe/' + recipeId;

      $.ajax({
          url: url,
          type: 'DELETE',
          success: function(result) {
            alert("Removed");
          }
      });
  });
</script>
