<center>
  <h2><%= @dish.name %></h2>
  <p><%= @dish.description %></p>
  <p><%= @dish.price %></p><hr>
</center>
  
<div class="col-md-5">
  <h3><%= @dish.name %> Recipes</h3>
  <div class="dish_recipe_container">
    <% @dish.recipes.each do |dr| %>
      <div class="dish_recipes" data-recipe-id="<%= dr.id %>" data-dish-id="<%= @dish.id %>"><%= dr.name %></div>
    <% end %>
  </div>
</div>

<div class="col-md-7 recipe_list_container">
  <h3>Add from list of recipes</h3>
    <%= render 'dishes/recipes' %>
</div>