<div class="col-md-6">
  <h2>Dish</h2><hr>
  <h4><%= @dish.name %></h4>
  <p><%= @dish.description %></p>
  <p><%= @dish.price %></p><hr>

  <% @dish.recipes.each do |dr| %>
    <li><%= dr.name %></li>
  <% end %>
</div>

<div class="col-md-6">
  <h2>Add from list of recipes</h2><hr>

  <% @recipes.each do |r| %>
    <p><%= r.name %></p>
      <p><%= link_to "Add recipe to #{@dish.name}", add_recipe_path(@dish, r) %></p><hr>
  <% end %>
</div>