<h4><%= @dish.name %></h4>
<p><%= @dish.description %></p>
<p><%= @dish.price %></p>

<%= link_to "Add Recipe or Ingredients", new_dish_recipe_path(@dish) %>
<br>
<% if @recipes != nil %>
  <% @recipes.each do |r| %>
    <%= r.name %> <br>
  <% end %>
<% end %>