<h4><%= @dish.name %></h4>
<p><%= @dish.description %></p>
<p><%= @dish.price %></p>


<!-- Should only be shown to restaurant owner -->
<a id="addRecipe">Add Recipe</a>
<div id="recipeForm" style="display:none;">
  <%= render '/recipes/new' %>
</div>


<hr>
<% if @recipes != nil %>
  <% @recipes.each do |r| %>
    <h3><%= link_to r.name, dish_recipe_path(@dish, r) %></h3><br>
      <div class="well">
        <% r.ingredients.each do |i| %>
          <p><strong>Ingredient: </strong><%= i.name %></p>
          <p><strong>Category: </strong><%= i.category %></p>
          <hr>
        <% end %>
      </div>
  <% end %>
<% end %>