<h4><%= @dish.name %></h4>
<p><%= @dish.description %></p>
<p><%= @dish.price %></p>


<!-- Should only be shown to restaurant owner -->
<% if current_user.is_admin %>
  <a class="addRecipe">Add Recipe</a>
  <div class="recipeForm" style="display:none;">
    <%= render '/recipes/new' %>
  </div>
<% end %>

 

<hr>
<% if @recipes != nil %>
  <% @recipes.each do |r| %>
    <h3><%= link_to r.name, dish_recipe_path(@dish, r) %></h3><br>
    <%#= render '/ingredients/new' %>
      <% r.ingredients.each do |i| %>
        <div class="well">
          <p><strong>Ingredient: </strong><%= i.name %></p>
          <p><strong>Category: </strong><%= i.category %></p>
        </div>
      <% end %>
  <% end %>
<% end %>


