<center>
  <h2><%= @dish.name %></h2>
  <p><%= @dish.description %></p>
  <p><%= @dish.price %></p><hr>
</center>
  
<div class="col-md-6">
  <!-- <div id="droppable" class="ui-widget-header"> -->
  <h3>Recipes for <%= @dish.name %></h3><hr>
  <div id="droppable" class="well">
      <p>Drop here to add recipe</p>
  </div> 
    
    <div class="recipe-list">
      <% @dish.recipes.each do |dr| %>
        <li><%= dr.name %></li>
      <% end %>
    </div>
</div>

<div class="col-md-6">
  <h3>Add from list of recipes</h3><hr>
    <div id="droppable" class="well">
      <p>Drop here to remove recipe</p>

      <% @recipes.each do |r| %>
        <div id="draggable" class="ui-widget-content draggable" data-recipe-id="<%= r.id %>" data-name="<%= r.name %>">
          <p><%= r.name %></p>
        </div>
      <% end %>

  </div>
</div>

<script>
  $(function() {
  $( ".draggable" ).draggable();
  $( "#droppable" ).droppable( {
    out: function( event, ui ) {

      var recipeId = $(ui.draggable).data('recipe-id'),
              name = $(ui.draggable).data('name'),
               url = '/dishes/' + <%= @dish.id %> + '/remove_recipe/' + recipeId;

        $.ajax({
            url: url,
            type: 'DELETE',
            success: function(result) {
                alert("removed successfully");
            }
        });
    },

      drop: function(event, ui) {
        $(ui.draggable).offset($(this).offset());
        var recipeId = $(ui.draggable).data('recipe-id'),
                name = $(ui.draggable).data('name'),
                url  = '/dishes/' + <%= @dish.id %> + '/add_recipe/' + recipeId;

        $('.recipe-list').append("<li>" + name + "</li>");

        $.post(url, function(data){
          alert("Added Successfully");
        });
      }
    });
  });
</script>