<% if user_signed_in? %>
  <nav class="navbar navbar-static-top menu signed_in">
<% else %>
  <nav class="navbar navbar-static-top menu ">
<% end %>
  <!-- <div class="container-fluid"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('new_pie_1024.jpg'), restaurants_path, class: "logo" %>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menu_button">
        <% if user_signed_in? %>
          <% if current_user.is_admin != true %>
            <li><%= link_to "Preferences", preference_path(current_user.preference.id) %></li>
          <% else %>
            <li><%= link_to "View My Menus", user_menus_path(current_user) %></li>
            <li><%= link_to 'Recipes', recipes_path %></li>
          <% end %>
          <li><%= link_to 'Restaurants', restaurants_path %></li>
          <li><%= link_to "Favourites", '/restaurants/favourites' %></li>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to "Logout", '/logout' %></li>
        <% else %>
          <li><%= link_to "Home", restaurants_path %></li>
          <li><%= link_to 'Restaurants', restaurants_path %></li>
          <li><%= link_to 'Login', '/login' %></li>
        <% end %>
        
      </ul>

    </div><!-- /.navbar-collapse -->
  <!-- </div> -->
</nav>



