<ul class="nav navbar-nav menu_button">
  <% if current_user.is_admin != true %>
    <li><%= link_to "Preferences", preference_path(current_user.preference.id) %></li>
  <% else %>
    <li><%= link_to "View My Menus", user_menus_path(current_user) %></li>
    <li><%= link_to 'Recipes', recipes_path %></li>
  <% end %>
  <li><%= link_to 'Restaurants', restaurants_path %></li>
  <li><%= link_to "Favourites", '/restaurants/favourites' %></li>
  <li><%= link_to "My Profile", user_path(current_user) %></li>
  <li><%= link_to "Logout", '/logout' %></li>
</ul>