<!DOCTYPE html>
<html>
<head>
  <title>Pie</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="presentation"><%= link_to "Home", root_path %> </li>
  <li class="presentation"><%= link_to "Lorem Ipsum" %> </li>
  <li class="presentation"><%= link_to "Lorem Ipsum" %></li>
</ul>
  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
