<!DOCTYPE html>
<html>
<head>
  <title>Pie</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="menu">
  <div class="container-fluid">
    <%= link_to image_tag('pie_logo.jpg'), restaurants_path, class: "logo" %>
    <div class="menu_button">
      <% if user_signed_in? %>
        <% if current_user.is_admin != true %>
          <%= link_to "Preferences", preference_path(current_user.preference.id) %>
        <% else %>
          <%= link_to "View My Menus", user_menus_path(current_user) %>
          <%= link_to 'Recipes', recipes_path %>
        <% end %>
        <%= link_to 'Restaurants', restaurants_path %>
        <%= link_to "Favourites", '/restaurants/favourites' %>
        <%= link_to "Logout", '/logout' %>
      <% else %>
        <%#= link_to "Home", restaurants_path %>
        <%= link_to 'Restaurants', restaurants_path %>
        <%= link_to 'Login', '/login' %>
      <% end %>
    </div>
  </div>
</div>

<div class="flash">
  <%= flash[:alert] || flash[:notice] %>
</div>
  <% if content_for(:sign_in) %>
    <%= yield (:sign_in)%>
  <% else %>
    <div class="container container-fluid">
      <%= yield %>
    </div>
  <% end %>

</body>
</html>
